/* MAIN */

* {
  margin: 0px;
  padding: 0px;
}

nav {
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  border-bottom: #e5e5e5 solid 2px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-left: 300px;
}

.navbar-element {
  text-decoration: none;
  list-style-type: none;
  padding: 10px;
  font-family: "Montserrat";
  font-weight: 500;
}

.navbar-element a {
  text-decoration: none;
  color: black;
}

.navbar-element a:hover {
  text-decoration: none;
  color: #e7acaa;
}

.shopping-cart {
  justify-self: flex-end;
  margin-left: 400px;
  margin-top: 20px;
}

.logo {
  position: absolute;
  width: 150px;
  height: 130px;
  left: 9.51px;
  top: 2.9px;
  z-index: 1;
}

footer {
  background-color: #a86864;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.footer-element {
  display: flex;
  flex-direction: column;
}

.social-networks {
  display: flex;
  flex-direction: row;
}

.social-networks img {
  width: 37px;
  height: 37px;
  color: #ffffff;
  display: block;
}

.footer-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.footer-list-element {
  list-style-type: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin-left: 0px;
}

#middle-element {
  border-left: #ffffff 1px solid;
  border-right: #ffffff 1px solid;
  width: 33%;
}

.contact-links {
  display: flex;
  flex-direction: row;
}

/* INDEX */

.carousel-item img {
  width: 950px;
  height: 445px;
}

.vector-1 {
  position: absolute;
  width: 150px;
  height: 167.36px;
  left: 34px;
  top: 455px;
}

.subtitle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
}

.how-to {
  background-color: #f6cecc;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 300px;
}

.steps-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
}

.steps {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.step-title {
  font-family: "Clicker Script", cursive;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 18px;
  padding-top: 10px;
}

.steps p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
  text-align: center;
}

.vector-2 {
  position: absolute;
  width: 150px;
  height: 167.36px;
  right: 0px;
  top: 750px;
}

.categories {
  background-color: #e7acaa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.categories h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.categories-inner {
  display: flex;
  flex-direction: row;
  background-color: #e7acaa;
  justify-content: space-around;
  padding-top: 10px;
}

.links a {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.links__images {
  width: 257.36px;
  height: 386px;
  padding-bottom: 50px;
  background-color: #ffffff;
  border-radius: 20px;
}

/* CATALOGO */

.catalog-main {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}

.sidebar {
  background-color: #fff4f3;
  width: 100%;
  height: 1400px;
  padding-top: 80px;
  padding-left: 50px;
}

.sidebar-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #a86864;
}

.sidebar-list-element {
  list-style-type: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  padding-bottom: 10px;
}

.category {
  text-decoration: none;
  color: black;
}

.category:hover {
  text-decoration: none;
  color: #e7acaa;
}

.cat-title {
  color: rgba(168, 104, 100, 1);
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 25px;
}

.cat-subtitle {
  font-weight: normal;
}

.catalog {
  margin-top: 50px;
  margin-left: 50px;
}

.row {
  width: 20%;
}

#conjuntos {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.card {
  width: 20px;
  margin: 0%;
  padding: 0%;
}
.card .add {
  background-color: rgba(231, 172, 170, 1);
  color: white;
  font-weight: bolder;
}

.card img {
  max-width: 300px;
}

.container {
  display: none;
}

/* CSS PARA TITULO: TABLA DE TALLES, NOSOTROS Y CONTACTO */

.subtitle-box {
  background-color: #e7acaa;
  text-align: center;
}

.all-subtitle {
  font-family: "Montserrat";
  font-weight: 500;
  color: white;
}

.all-subtitle-container {
  height: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TABLA DE TALLES */

#t_mujer {
  width: 75%;
}

.mujer {
  padding-top: 20px;
  text-align: center;
}

#t_hombre {
  width: 75%;
}

.hombre {
  padding-top: 50px;
  text-align: center;
  padding-bottom: 30px;
}

/* NOSOTROS */

.nosotros {
  display: grid;
  grid-template-columns: 20, 25, 35, 20;
  font-family: "Montserrat";
  padding-top: 60px;
  padding-bottom: 60px;
}

table {
  margin: 20px, 20px, 20px, 20px;
}

.texto {
  grid-area: text;
  text-align: left;
  padding-left: 70px;
}

.img-logo {
  grid-area: img-logo;
  text-align: center;
  padding-right: 50px;
}

.logo-xl {
  width: 492px;
  height: 418px;
  margin-top: 10px;
}

.texto .btn {
  background: #a86864;
  color: white;
  margin-top: 10px;
  text-align: center;
  border-radius: 30px 30px;
  width: 500px;
}

/* CONTACTO */

.contact-subtitle-container {
  height: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  background-color: #e7acaa;
  align-items: center;
  justify-content: center;
}

.contact-table td {
  width: 150px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.contact-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  padding-top: 10px;
  color: white;
}

.contact p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
  text-align: center;
  color: white;
}

#iconos {
  width: 29px;
  height: 29px;
}

.form-cj {
  margin: 20px, 20px, 20px, 20px;
}

.campos {
  margin: 20px, 20px, 20px, 20px;
}

.formulario {
  padding: 100px;
  width: 50%;
}

#submit {
  width: 100%;
  border-radius: 20px;
  background-color: #a86864;
}

.campos input {
  border: 1.5px solid #a86864;
}

.campos .email {
  width: 225px;
}

.formulario .boton {
  border: 1.5px solid #a86864;
}

.consulta {
  display: grid;
  align-content: inherit;
}

#consulta {
  border: 1.5px solid #a86864;
  height: 100px;
  width: 350px;
  text-align: inherit;
}
